body {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px;
    padding-right: 20px;
}

main {
    display: flex; 
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#main-area {
    width: 50%;
    padding-bottom: 20px;
}

#view-high-scores {
    color:  #ff33cc;

}

#answer-buttons-section {
    float: left;
    display: none;
}

.answer-buttons {
    background-color: #330066;
    color: white;
    padding: 5px 25px 5px 0px;
    margin: 5px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
}

#startQuizButton { 
    padding: 5px 20px;
}

button {
    background-color:  #330066;
    color: white;
    border-color:  #330066;
}

button:hover {
    cursor: pointer;
    background-color: #ff33cc;
}

.right-or-wrong {
    display: none;
}

#highscore-submission {
    display: none;
    align-items: center;
    justify-content: center;
}

#highscore-p {
    margin: 5px;
}

#highscore-input {
    height: 20px;
    margin: 5px;
}

#go-back-button, #clear-scores-button {
    display: none;
}

#highscores {
    display: none;
}